{% if alert.isEnabled %}
    <div id="footer-alert">
        <div class="bg-brand-twitter bottom-0 fixed inset-x-0">
            <div class="max-w-7xl mx-auto p-3 sm:px-6 lg:px-8">
                <div class="flex flex-wrap items-center justify-between">
                    <div class="flex flex-1 items-center w-0">
                        <span class="bg-black bg-opacity-10 flex p-2 rounded-lg">
                            <svg class="h-6 text-white w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                <path d="M15 13a3 3 0 11-6 0 3 3 0 016 0z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            </svg>
                        </span>
                        <p class="font-medium ml-3 text-white truncate">
                            <span class="md:hidden">{{ alert.message.text }}</span>
                            <span class="hidden md:inline">{{ alert.message.textMd }}</span>
                        </p>
                    </div>
                    <div class="shrink-0 mt-2 order-3 w-full sm:mt-0 sm:order-2 sm:w-auto">
                        <a class="bg-white border border-transparent flex font-medium items-center justify-center px-4 py-2 rounded-full shadow-xs text-brand-twitter text-sm hover:bg-gray-50"
                           href="{{ alert.button.url }}"
                           rel="nofollow"
                           target="_blank"
                           title="{{ alert.button.text | strip_html }}">
                            <span>{{ alert.button.text }}</span>
                        </a>
                    </div>
                    <div class="shrink-0 order-2 sm:ml-3 sm:order-3">
                        <button class="flex -mr-1 p-2 rounded-md focus:outline-hidden focus:ring-2 focus:ring-white hover:bg-opacity-10 hover:bg-white sm:-mr-2" on="tap:footer-alert.hide" role="button" title="Close" type="button">
                            <span class="sr-only">Close</span>
                            <svg aria-hidden="true" class="h-6 text-white w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-[110px] md:h-[64px]"></div>
    </div>
{% endif %}
