{% if alert.isEnabled %}
    <div id="footer-alert">
        <div class="fixed inset-x-0 bottom-0 bg-brand-twitter">
            <div class="mx-auto max-w-7xl p-3 sm:px-6 lg:px-8">
                <div class="flex flex-wrap items-center justify-between">
                    <div class="flex w-0 flex-1 items-center">
                        <span class="bg-opacity-10 flex rounded-lg bg-black p-2">
                            <svg
                                class="h-6 w-6 text-white"
                                fill="none"
                                stroke="currentColor"
                                viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                <path d="M15 13a3 3 0 11-6 0 3 3 0 016 0z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            </svg>
                        </span>
                        <p class="ml-3 truncate font-medium text-white">
                            <span class="md:hidden">{{ alert.message.text }}</span>
                            <span class="hidden md:inline">{{ alert.message.textMd }}</span>
                        </p>
                    </div>
                    <div class="order-3 mt-2 w-full shrink-0 sm:order-2 sm:mt-0 sm:w-auto">
                        <a
                            class="flex items-center justify-center rounded-full border border-transparent bg-white px-4 py-2 text-sm font-medium text-brand-twitter shadow-xs hover:bg-gray-50"
                            href="{{ alert.button.url }}"
                            rel="nofollow"
                            target="_blank"
                            title="{{ alert.button.text | strip_html }}"
                        >
                            <span>{{ alert.button.text }}</span>
                        </a>
                    </div>
                    <div class="order-2 shrink-0 sm:order-3 sm:ml-3">
                        <button
                            class="hover:bg-opacity-10 -mr-1 flex rounded-md p-2 hover:bg-white focus:ring-2 focus:ring-white focus:outline-hidden sm:-mr-2"
                            on="tap:footer-alert.hide"
                            role="button"
                            title="Close"
                            type="button"
                        >
                            <span class="sr-only">Close</span>
                            <svg
                                aria-hidden="true"
                                class="h-6 w-6 text-white"
                                fill="none"
                                stroke="currentColor"
                                viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-[110px] md:h-[64px]"></div>
    </div>
{% endif %}
