---
eleventyComputed:
    metaKeywords: "bluemwhitew, matt, walters, esports, event, gaming, photographer, photography, portrait, wedding"
    title: "Esports and Event Photography"
layout: layout.liquid
permalink: "/"
---

<section class="bg-black flex flex-col justify-center min-h-screen mx-auto relative text-center">
    <amp-img alt="Photo by Hanny Naibaho on Unsplash"
             class="absolute amp-img-object-cover inset-0 opacity-50"
             height="9"
             layout="responsive"
             src="https://images.unsplash.com/photo-1506157786151-b8491531f063?auto=format&fit=crop&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&q=80&w=1920"
             width="16">
    </amp-img>
    <div class="p-8 md:p-16 sticky top-16 z-10">
        <h1 class="font-bold leading-normal sm:leading-normal md:leading-normal mb-8 text-5xl sm:text-6xl md:text-7xl text-white">Esports and Event<br/>Photography</h1>
        <div class="gap-4 grid mb-12 sm:flex sm:justify-center">
            <a href="/collections" class="font-bold group inline-flex items-center justify-center px-6 py-2 text-lg text-white transition">
                <span>Browse Collections</span>
                <svg aria-hidden="true" class="mt-0.5 ml-2 -mr-1 stroke-current stroke-2" fill="none" height="12" viewBox="0 0 10 10" width="12">
                    <path class="opacity-0 transition group-hover:opacity-100" d="M0 5h7"/>
                    <path class="transition-transform group-hover:translate-x-3px" d="M1 1l4 4-4 4"/>
                </svg>
            </a>
        </div>
    </div>
</section>

{% if contentful %}
    <section class="mx-4 md:mx-12 lg:mx-20 my-20 lg:mb-12">
        <h2 class="sr-only">Featured Collections</h2>
        <ul class="gap-12 grid lg:gap-x-20 lg:grid-cols-12">
            {% for collection in contentful %}
                {% if collection.isFeatureHome %}
                    <li class="lg:col-span-4">
                        <a class="block duration-500 transition-opacity hover:opacity-50"
                           href="/collections/{{ collection.title | slug }}"
                           title="{{ collection.title }}">
                            <amp-img alt="{{ collection.title }}"
                                     class="amp-img-object-cover mb-4 rounded-lg"
                                     height="9"
                                     layout="responsive"
                                     src="https:{{ collection.featuredImage.fields.file.url }}?f=center&amp;fit=fill&amp;fm=webp&amp;h=720&amp;q=80&amp;w=1280"
                                     width="16">
                            </amp-img>
                            <div>
                                <span class="block font-medium mb-2 text-xs tracking-widest uppercase">{{ collection.category }}</span>
                                <h3 class="font-bold mb-4 text-2xl lg:text-3xl">{{ collection.title }}</h3>
                                <p class="text-base">{{ collection.excerpt }}</p>
                            </div>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>
{% endif %}
