---
layout: layout.liquid
pagination:
    addAllPagesToCollections: true
    alias: shoot
    data: shoots
    size: 1
permalink: "shoots/{{ shoot.title | slug }}/"
renderData:
    title: "{{ shoot.title }} &mdash; bluemwhitew Photography"
---

<section class="flex flex-col justify-center min-h-[75vh] text-center">
    <h1 class="font-bold mb-4 text-5xl md:text-6xl">{{ shoot.title }}</h1>
    <div>{{ shoot.content }}</div>
</section>

<section class="section__shots">
    <ul class="gap-0 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {%- for shot in shoot.shots -%}
            <li>
                <figure>
                    <amp-img alt="{{ shot.fields.title }}"
                             height="1"
                             layout="responsive"
                             src="https:{{ shot.fields.file.url }}?f=center&fit=fill&fl=progressive&fm=jpg&h=640&q=100&w=640"
                             width="1">
                    </amp-img>
                </figure>
            </li>
        {%- endfor -%}
    </ul>
</section>
